---
import Header from '../components/Header.astro';
import Three from '../layouts/Three.astro';
import Project from '../layouts/Project.astro';
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import Youtube from '../components/Youtube.astro';
import MediaPlayer from '../layouts/MediaPlayer.astro';
import ImageMedia from '../components/ImageMedia.astro';
import Shadertoy from '../components/Shadertoy.astro';
import Video from '../components/Video.astro'

import { Image, Picture } from '@astrojs/image/components';
import { Icon } from 'astro-icon';

import bhopGoIcon from '../assets/images/bhop_go/icon.png';
import bhopGoImages from '../assets/definitions/bhop-go-images.js';
import { Content as BhopGoProjectInfo } from '../projects/bhop-go.md';
import bhopGoTrailer from '../assets/images/bhop_go/bhop-blop-trailer.webm';
import bhopGoTrailerThumbnail from '../assets/images/bhop_go/logo.png';

import te2dIcon from '../assets/images/terrain_engine_2d/te2d-icon.png';
import te2dImages from '../assets/definitions/terrain-engine-2d-images.js';
import { Content as Te2dProjectInfo } from '../projects/terrain-engine-2d.md';
import te2dUpdateVideo from '../assets/images/terrain_engine_2d/te2d-update.webm';
import te2dReleaseVideo from '../assets/images/terrain_engine_2d/te2d-release.webm';
import te2dFullFeatureVideo from '../assets/images/terrain_engine_2d/te2d-full-feature.webm';
import te2dUpdateThumbnail from '../assets/images/terrain_engine_2d/te2d-update-thumbnail.png';
import te2dReleaseThumbnail from '../assets/images/terrain_engine_2d/te2d-release-thumbnail.png';
import te2dFullFeatureThumbnail from '../assets/images/terrain_engine_2d/te2d-full-feature-thumbnail.png';

import rayTracingIcon from '../assets/images/ray_tracing_spheres/ray-tracing-icon.png';
import { Content as RayTracingProjectInfo } from '../projects/ray-tracing-spheres.md';

import proceduralTerrainIcon from '../assets/images/procedural_terrain/procedural-terrain-icon.png';
import { Content as ProceduralTerrainProjectInfo } from '../projects/procedural-terrain.md';

import wytchwoodIcon from '../assets/images/wytchwood/wytchwood-icon.png';
import wytchwoodImages from '../assets/definitions/wytchwood-images.js';
import { Content as WytchwoodProjectInfo } from '../projects/wytchwood.md';
import wytchwoodTrailer from '../assets/images/wytchwood/wytchwood-showcase.webm';
import wytchwoodTrailerThumbnail from '../assets/images/wytchwood/wytchwood-header.jpg';
---
<script>
	addEventListener("load", (event) => {
		document.getElementById('loading-div').classList.add('invisible');
		document.body.classList.remove('overflow-hidden');
		console.log("LOADED");
	});
</script>


<Layout title="Matt's Portfolio">
	<main id="main" class="flex flex-col place-items-center min-h-screen overflow-hidden">
		<Header></Header>
		<!-- <Project name="HSBC Digital Walk-Around Project" type="Full Stack Web Development" 
		description="Developed a virtual office space for managing Zoom meetings." 
		startDate="Jan 2022" endDate="Apr 2022" 
		stack="TypeScript Node.js React AWS" thumbnail={bhopGoIcon}>
			<MediaPlayer slot="left">
				<Youtube id="68helX0_BrY"></Youtube>
				<ImageMedia images={bhopGoImages}></ImageMedia>
			</MediaPlayer>
			<BhopGoProjectInfo slot="right"/>
		</Project> -->

		<Project name="Ray Tracing Scene" type="Fragment Shader" 
		description="A simple 3D scene of raytraced spheres." 
		startDate="Nov 2022" endDate="Dec 2022" 
		stack="GLSL OpenGL Shadertoy" thumbnail={rayTracingIcon} link="Shadertoy:https://www.shadertoy.com/view/clXGzf">
			<!-- <Shadertoy slot="left" id="clXGzf"/> -->
			<Three id="ray-tracing" slot="left">
				<script type='module' src="/src/js/ray-tracing.js"></script>
			</Three>
			<RayTracingProjectInfo slot="right"/>
		</Project>
		<Project name="Procedural Terrain" type="Web App" 
		description="Infinite procedurally generated terrain." 
		startDate="Oct 2022" endDate="Jan 2023" 
		stack="HTML JavaScript Three.js" thumbnail={proceduralTerrainIcon} github="https://github.com/mattkwilson/procedural-voxels-threejs">
			<Three id="procedural-voxels" slot="left">
				<script type="text/javascript" src="https://unpkg.com/perlin-noise-3d"></script> 
				<script type='module' src="/src/js/procedural-voxels.js"></script>
			</Three>
			<ProceduralTerrainProjectInfo slot="right"/>
		</Project>
		<Project name="Wytchwood" type="Video Game" 
		description="An adventure video game developed by Alientrap Games for Windows, PlayStation, Xbox and Nintendo Switch." 
		startDate="Jan 2019" endDate="Jul 2020" 
		stack="C# Unity Xbox Playstation Nintendo" thumbnail={wytchwoodIcon} steam="https://store.steampowered.com/app/729000/Wytchwood/" link="Alientrap:https://www.alientrap.com/games/wytchwood/">
		<MediaPlayer slot="left">
			<Video src={wytchwoodTrailer} thumbnail={wytchwoodTrailerThumbnail}></Video>
			<ImageMedia images={wytchwoodImages}></ImageMedia>
		</MediaPlayer>
		<WytchwoodProjectInfo slot="right"/>
		</Project>
		<Project name="Terrain Engine 2D" type="Unity Extension Asset" 
			description="A 2D procedural terrain generation tool for Unity." 
			startDate="Oct 2017" endDate="Dec 2020" 
			stack="C# Unity HLSL" thumbnail={te2dIcon} download="Demo:src/assets/te2d-demo.zip" link="Documentation:src/assets/te2d-documentation.pdf">
			<MediaPlayer slot="left">
				<Video src={te2dUpdateVideo} thumbnail={te2dUpdateThumbnail}></Video>
				<Video src={te2dReleaseVideo} thumbnail={te2dReleaseThumbnail}></Video>
				<Video src={te2dFullFeatureVideo} thumbnail={te2dFullFeatureThumbnail}></Video>
				<ImageMedia images={te2dImages}></ImageMedia>
			</MediaPlayer>
			<Te2dProjectInfo slot="right"/>
		</Project>
		<Project name="Bhop Go" type="Android Mobile Game" 
		description="A 2D mobile game for Android devices." 
		startDate="Jan 2017" endDate="Jun 2017" 
		stack="Java Android libGDX" thumbnail={bhopGoIcon}>
			<MediaPlayer slot="left">
				<Video src={bhopGoTrailer} thumbnail={bhopGoTrailerThumbnail}></Video>
				<ImageMedia images={bhopGoImages}></ImageMedia>
			</MediaPlayer>
			<BhopGoProjectInfo slot="right"/>
		</Project>

		<div id="image-zoom-div" class="bg-black bg-opacity-90 fixed top=0 left=0 w-full h-full invisible">
			<Image id="zoom-image" src={bhopGoIcon} alt="" class="max-w-[90%] max-h-[90%] w-auto h-auto absolute top-[50%] translate-y-[-50%] left-[50%] translate-x-[-50%]"/>
			<Icon class="w-12 h-12 absolute right-0 top-0 hover:cursor-pointer" style="color:white" pack="mdi" name="alpha-x"/>
		</div>
		<div id="loading-div" class="bg-black bg-opacity-90 fixed top=0 left=0 w-full h-full flex flex-col item-center justify-center">
			<div class="m-auto">
				<h1 class="text-white text-center text-5xl font-bold my-4">Loading...</h1>
				<Icon class="w-24 h-24 mx-auto my-4 animate-spin animate-pulse " style="color:white" pack="uiw" name="loading"/>
			</div>
		</div>
		<div class="grow"></div>
		<Footer email="mwilso07@student.ubc.ca" linkedIn="https://www.linkedin.com/in/matthew-k-wilson/" github="https://github.com/mattkwilson" shadertoy="https://www.shadertoy.com/user/mattwilson720"></Footer>
	</main>
</Layout>

<script>
	const imageZoomElement = document.getElementById('image-zoom-div');

	imageZoomElement.addEventListener('click', () => {
		imageZoomElement.classList.add('invisible');
		document.body.classList.remove('overflow-hidden');
	});
</script>

