---
import Header from '../components/Header.astro';
import Three from '../components/Three.astro';
import Project from '../components/Project.astro';
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import ProjectInfo from '../components/ProjectInfo.astro';
import Youtube from '../components/Youtube.astro';
import MediaPlayer from '../components/MediaPlayer.astro';
import ImageMedia from '../components/ImageMedia.astro';

import { Image, Picture } from '@astrojs/image/components';
import { Icon } from 'astro-icon';

import bhopGoIcon from '../assets/images/bhop_go/icon.png';
import bhopGoImages from '../assets/definitions/bhop-go-images.js';
import { Content as BhopGoProject } from '../projects/bhop-go.md';

import te2dIcon from '../assets/images/terrain_engine_2d/te2d-icon.png';
import te2dImages from '../assets/definitions/terrain-engine-2d-images.js';
import { Content as Te2dProject } from '../projects/terrain-engine-2d.md';
---

<Layout title="Matt's Portfolio">
	<main class="flex flex-col min-h-screen">
		<Header></Header>
		<Project name="Terrain Engine 2D" type="Unity Extension Asset" 
			description="A 2D procedural terrain generation tool for Unity." 
			startDate="Oct 2017" endDate="Dec 2020" 
			stack="C# Unity" thumbnail={te2dIcon}>
			<div class="bg-slate-800 flex sm:flex-row h-96 hidden">
				<div class="w-1/2">
					<MediaPlayer>
						<Youtube id="aEjtgVMkfxA"></Youtube>
						<Youtube id="gzQnZ6jpK1Q"></Youtube>
						<Youtube id="--ve05Fcejs"></Youtube>
						<ImageMedia images={te2dImages}></ImageMedia>
					</MediaPlayer>
				</div>
				<div class="w-1/2">
					<ProjectInfo github="">
						<article class="prose-ul:list-disc prose-ul:list-inside">
							<Te2dProject />
						</article>
					</ProjectInfo>
				</div>
			</div>
		</Project>
		<Project name="Bhop Go" type="Android Mobile App" 
			description="A 2D mobile game for Android devices." 
			startDate="Jan 2017" endDate="Jun 2017" 
			stack="Java Android libGDX" thumbnail={bhopGoIcon}>
			<div class="bg-slate-800 flex sm:flex-row h-96 hidden">
				<div class="w-1/2">
					<MediaPlayer>
						<Youtube id="68helX0_BrY"></Youtube>
						<ImageMedia images={bhopGoImages}></ImageMedia>
					</MediaPlayer>
				</div>
				<div class="w-1/2">
					<ProjectInfo github="">
						<article class="prose-ul:list-disc prose-ul:list-inside">
							<BhopGoProject />
						</article>
					</ProjectInfo>
				</div>
			</div>
		</Project>
		
		<div id="image-zoom-div" class="bg-black bg-opacity-90 absolute w-full h-full invisible">
			<div class="w-[90%] h-[90%] relative m-auto top-[50%] translate-y-[-50%]">
				<Image id="zoom-image" src={bhopGoIcon} alt="" class="max-w-full max-h-full w-auto h-auto m-auto"/>
			</div>	
			<Icon class="w-12 h-12 absolute right-0 top-0 hover:cursor-pointer" style="color:white" pack="mdi" name="alpha-x"/>
		</div>
		<div class="grow"></div>
		<Footer email="mwilso07@student.ubc.ca" linkedIn="https://www.linkedin.com/in/matthew-k-wilson/" github="https://github.com/mattkwilson" shadertoy="https://www.shadertoy.com/user/mattwilson720"></Footer>
	</main>
</Layout>

<script>
	const imageZoomElement = document.getElementById('image-zoom-div');

	imageZoomElement.addEventListener('click', () => {
		imageZoomElement.classList.add('invisible');
	});
</script>
