---
import { Image, Picture } from '@astrojs/image/components';
import { Icon } from 'astro-icon';

export interface Props {
	name: string;
    type: string;
    description: string;
    startDate: string;
    endDate: string;
    stack: string;
    thumbnail: string|ImageMetadata;
    github?: string;
    steam?: string;
    link?: string; // format: 'name:src'
    download?: string; // format: 'name:src'
}

const { name, type, description, startDate, endDate, stack, thumbnail, github, steam, link, download } = Astro.props;
const date = startDate + ' - ' + endDate;

const linkName = link !== undefined ? link.substring(0,link.indexOf(':')) : "";
const linkSRC = link !== undefined ? link.substring(link.indexOf(':') + 1, link.length) : "";

const downloadName = download !== undefined ? download.substring(0,download.indexOf(':')) : "";
const downloadSRC = download !== undefined ? download.substring(download.indexOf(':') + 1, download.length) : "";
---

<div class="flex flex-col px-2 my-1 drop-shadow-2xl w-full max-w-screen-2xl">
    <div project-div class="w-full h-full bg-black rounded-t-xl sm:rounded-t-none rounded-b-xl sm:rounded-b-none hover:bg-slate-800">
        <div class="flex flex-row mx-1 sm:mx-2 my-3">
            <div class="flex m-auto mx-2">
                <Picture class="flex mx-auto my-auto rounded-md" src={thumbnail} alt="Project Image" sizes="120px" widths={[120]} aspectRatio={'1:1'}></Picture>
            </div>
            <div class="w-full flex flex-col mx-1 justify-between">
                <div class="flex flex-col-reverse sm:flex-row text-white font-code justify-between">
                    <div class="flex flex-row justify-start">
                        <h1 class="text-lg sm:text-base">{name}</h1>
                        <h1 class="hidden md:block text-sm my-auto mx-2">- {type}</h1>
                    </div>
                    <h2 class="mr-1 text-xs sm:text-base text-right">{date}</h2>
                </div>
                <div class="hidden my-1 sm:block grow text-white">
                    <h2>{description}</h2>
                </div>
                <div id="stack" class="flex flex-row-reverse">
                    {stack.split(' ').reverse().map((s) => ( <h3 class="bg-white text-sm sm:text-base mx-1 sm:mx-2 rounded-md text-black font-bold px-1">{s}</h3> ))}
                </div>
            </div>
        </div>
    </div>
    <div class="bg-slate-800 flex flex-col md:flex-row md:h-96 rounded-b-xl sm:rounded-b-none hidden">
        <div class="w-full md:w-1/2">
            <slot name="left"/>
        </div>
        <div class="w-full md:w-1/2">
            <div class="flex flex-col h-full w-full text-white">
                <div class="flex flex-col h-full w-full md:overflow-y-scroll p-2">
                    <article class="prose-ul:list-disc prose-ul:list-inside prose-a:text-red-700 prose-p:mt-1 prose-ul:mt-1">
                        <slot name="right"/>
                    </article>
                </div>
                {(github !== undefined || steam !== undefined || link !== undefined || download !== undefined) && <div class="m-2">
                    <h1 class="font-bold">Check out the project:</h1>
                    <div class="flex flex-row my-1 mx-auto">
                        <div class="grow"></div>
                        {link !== undefined && <a href={linkSRC} class="flex flex-row items-center justify-center text-white hover:text-slate-400">
                            <h1 class="mx-auto font-bold text-md">{linkName}</h1>
                            <Icon class="w-12 mx-1" pack="mdi" name="link-variant"/>
                        </a>}
                        {github !== undefined && <a href={github} class="flex flex-row items-center justify-center text-white hover:text-slate-400">
                            <h1 class="mx-auto font-bold text-md">Github</h1>
                            <Icon class="w-12 mx-1" pack="mdi" name="github"/>
                        </a>}
                        {steam !== undefined && <a href={steam} class="flex flex-row items-center justify-center text-white hover:text-slate-400">
                            <h1 class="mx-auto font-bold text-md">Steam</h1>
                            <Icon class="w-12 mx-1" pack="mdi" name="steam"/>
                        </a>}
                        {download !== undefined && <a href={downloadSRC} class="flex flex-row items-center justify-center text-white hover:text-slate-400">
                            <h1 class="mx-auto font-bold text-md">{downloadName}</h1>
                            <Icon class="w-12 mx-1" pack="ic" name="baseline-download-for-offline"/>
                        </a>}
                    </div>
                </div>}
            </div>
        </div>
    </div>
</div>

<script>
    const projectCards = document.querySelectorAll('[project-div]');
    projectCards.forEach((element) => {
        element.addEventListener('click', handleProjectCardClick);
    });

    function handleProjectCardClick(event: Event) {
        const e = event.currentTarget as Element;
        const content = e.parentElement.lastElementChild;
        if(content.classList.contains('hidden')) {
            content.classList.remove('hidden');
            e.classList.remove('rounded-b-xl')
        } else {
            content.classList.add('hidden');
            e.classList.add('rounded-b-xl')
            // pause all youtube videos
            e.parentElement.querySelectorAll('[youtube-iframe]').forEach(element=> {
                var message = {
                    event: 'command',
                    func: 'pauseVideo'
                };
                const iframeElement = element as HTMLIFrameElement;
                iframeElement.contentWindow.postMessage(JSON.stringify(message), '*');
            });   

            e.parentElement.querySelectorAll('VIDEO').forEach((element: HTMLVideoElement) => {
                element.pause();
            });
        }
    }
</script>